<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ntu.seckill.repository.IPasswordRepository">

    <insert id="create" parameterType="PasswordPO" keyColumn="id">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(), '-', '') AS id FROM DUAL
        </selectKey>
        INSERT INTO `seckill.password`(id, user_id, password, salt)
        VALUES(#{id}, #{userId, jdbcType=VARCHAR}, #{password}, #{salt})
    </insert>

    <select id="queryByUserId" resultType="PasswordPO">
        SELECT id, user_id, salt, password, updated_date
        FROM `seckill.password`
        WHERE user_id = #{userId} and is_deleted = 0
    </select>
    <update id="updatePassword" parameterType="string">
        UPDATE `seckill.password`
        SET salt = #{salt}, password = #{password}
        WHERE user_id = #{userId} and is_deleted = 0
    </update>
</mapper>
