<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ntu.seckill.repository.ISeckillGoodsRepository">
    <insert id="create" parameterType="SeckillGoodsPO" keyProperty="id">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(), '-', '') AS id FROM DUAL
        </selectKey>
        INSERT INTO `seckill.seckill_goods`(id, goods_id, seckill_price, start_date, end_date)
        VALUES(#{id}, #{goodsId}, #{seckillPrice}, #{startDate,jdbcType=TIMESTAMP}, #{endDate})
    </insert>
    
    <select id="getByPK" resultType="SeckillGoodsPO">
        SELECT id, goods_id, seckill_price, start_date, end_date, updated_date, created_date
        FROM `seckill.seckill_goods`
        WHERE is_deleted = false and goods_id = #{goodsId}
    </select>

    <select id="getByCondition" resultType="SeckillGoodsPO">
        SELECT id, goods_id, seckill_price, start_date, end_date, updated_date, created_date
        FROM `seckill.seckill_goods`
        WHERE is_deleted = 0
        <trim suffixOverrides="and">
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="goodsId!=null &amp;&amp; goodsId!=&quot;&quot;">
                AND goods_id=#{goodsId}
            </if>
        </trim>
    </select>

    <update id="updatePrice">
        UPDATE `seckill.seckill_goods`
        SET seckill_price = #{price}
        WHERE goods_id = #{goodsId} AND is_deleted = FALSE
    </update>
</mapper>
