<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ntu.seckill.repository.IUserRepository">

    <!-- handle column mapping -->
    <resultMap id="BaseResultMap" type="UserPO">
        <result column="registered_date" property="registeredDate"></result>
    </resultMap>

    <insert id="create" parameterType="UserPO" keyColumn="id">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            SELECT REPLACE(UUID(), '-', '') AS id FROM DUAL
        </selectKey>
        INSERT INTO `seckill.user`(id, email, name, password, salt, registered_date, phone)
        VALUES(#{id}, #{email,jdbcType=VARCHAR}, #{name},
        #{password}, #{salt}, #{registeredDate,jdbcType=TIMESTAMP}, #{phone,jdbcType=BIGINT})
    </insert>

    <select id="queryByEmail" resultType="userPO">
        SELECT id, phone, name, age, email, registered_date FROM `seckill.user` WHERE email = #{email}
    </select>
</mapper>
